.carousel {
    position: relative;
    height: 400px;
}

.slide {
    position: absolute;
    top: 0;
    background-size: cover;
    height: 400px;
    width: 100%;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0, 0.5, 0, 0.5);
}

.slide.active {
    opacity: 1;
}

.carousel-caption:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 1s linear;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 60%;
    height: 150px;
    left: 20%;
    bottom: 50px;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    transition: background-color 1s linear;

    .btn-success {
        position: absolute;
        width: 20%;
        height: 30px;
        padding: 5px;
        border-radius: 4px;
        left: 40%;
    }
}

.slide:nth-child(1) {
    background: url("./img/notebook-768x508.jpg") center;
    background-size: cover;
}

@media (min-width: 768px) {
    .slide:nth-child(1) {
        background: url("./img/notebook-1200x794.jpg") center;
        background-size: cover;
    }

}

@media (min-width: 1200px) {
    .slide:nth-child(1) {
        background: url("./img/notebook-1920x1272.jpg") center;
        background-size: cover;
    }
}

@media (min-width: 1920px) {
    .slide:nth-child(1) {
        background: url("./img/notebook-4928x3264.jpg") center;
        background-size: cover;
    }
}

.slide:nth-child(2) {
    background: url("./img/harddisk-768x511.jpg") center;
    background-size: cover;
}

@media (min-width: 768px) {
    .slide:nth-child(2) {
        background: url("./img/harddisk-1200x799.jpg") center;
        background-size: cover;
    }

}

@media (min-width: 1200px) {
    .slide:nth-child(2) {
        background: url("./img/harddisk-1920x1280.jpg") center;
        background-size: cover;
    }
}

@media (min-width: 1920px) {
    .slide:nth-child(2) {
        background: url("./img/harddisk-4751x3167.jpg") center;
        background-size: cover;
    }
}

.slide:nth-child(3) {
    background: url("./img/keyboard-768x484.jpg") center;
    background-size: cover;
}

@media (min-width: 768px) {
    .slide:nth-child(3) {
        background: url("./img/keyboard-1200x757.jpg") center;
        background-size: cover;
    }

}

@media (min-width: 1200px) {
    .slide:nth-child(3) {
        background: url("./img/keyboard-1920x1211.jpg") center;
        background-size: cover;
    }
}

@media (min-width: 1920px) {
    .slide:nth-child(3) {
        background: url("./img/keyboard-6000x3786.jpg") center;
        background-size: cover;
    }
}
