#category-tree {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-shadow: 0 1px .5px #555;
    white-space: nowrap;
    tree {
        padding: 0;
        div {
            margin: 5px 0 5px;
        }
    }
    ul {
        margin: 0;
        li {
            list-style-type: none;
        }
    }
    .node {
        cursor: pointer;
    }
    .node.active {
        color: #002266;
        font-weight: bold;
    }
    .node:hover, .node:focus {
        color: gray;
        opacity: .8;
    }
}
