.form-style {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    > h1 {
        font-weight: bold;
        margin: 0 0 20px;
        text-align: center;
    }
    > form {
        display: flex;
        flex-direction: column;
        > button {
            margin-bottom: 15px;
        }
        > div:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 8px;
    }
}
