nav {
    .navbar-brand {
        padding: 5px 15px 15px 15px;
    }
}

nav.navbar {
    margin: 0;
}

#carousel {
    background: url("http://lorempixel.com/1200/400/sports/2/") center;
    background-size: cover;
    height: 400px;
}

.content {
    ul {
        list-style-type: none;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    ng-view {
        flex: 1;
    }

    footer {
        background-color: #444444;
        width: 100%;
        height: 50px;
    }
}

.product-details {

    a {
        font-size: 45px;
        border: 1px solid #444444;
        background-color: #444444;
        border-radius: 10px;
        padding: 5px;
        color: white;
        text-decoration: none;
    }
    img {
        width: 100%;
    }
}

#product-order-form {
    * {
        margin: 10px;
    }
    #order-confirm {
        font-size: 20px;
    }
}


#login {

    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    > h1 {
        font-weight: bold;
        margin: 0 0 20px;
        text-align: center;
    }
    > form {
        display: flex;
        flex-direction: column;
        #loginButton {
            margin-bottom: 15px;
        }
    }
}
