nav {
    .navbar-brand {
        padding: 5px 15px;

        img {
            height: 40px;
        }
    }
}

nav.navbar {
    margin: 0;
}

#carousel {

    .carousel-inner {

        .item {

            img {
                height: 400px;
                width: 100%;
            }

            .first-slide {
                background: url("./img/notebook-768x508.jpg") center;
                background-size: cover;
            }

            @media (min-width: 768px) {
                .first-slide {
                    background: url("./img/notebook-1200x794.jpg") center;
                    background-size: cover;
                }

            }

            @media (min-width: 1200px) {
                .first-slide {
                    background: url("./img/notebook-1920x1272.jpg") center;
                    background-size: cover;
                }
            }

            @media (min-width: 1920px) {
                .first-slide {
                    background: url("./img/notebook-4928x3264.jpg") center;
                    background-size: cover;
                }

            }
        }
    }
}

.content {
    .row {

        > div {
            padding: 15px;

            img {
                width: 100%;
            }

            .additional-info {
                float: right;
                clear: both;

                .btn {
                    color: white;
                    background-color: #002266;
                }

                .btn:hover {
                    color: white;
                    background-color: #001133;
                }
            }
        }

    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    ng-view {
        flex: 1;
    }

    footer {
        background-color: #444444;
        width: 100%;
        height: 50px;
    }
}

.product-details {
    a {
        font-size: 45px;
        border: 1px solid #444444;
        background-color: #444444;
        border-radius: 10px;
        padding: 5px;
        color: white;
        text-decoration: none;
    }
    img {
        width: 100%;
    }
}

.welcome-message {
    float: right;
    color: #777;
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;

}

#product-order-form {
    * {
        margin: 10px;

        .formStyle {
            border: 1px solid lightgrey;
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 10px;
            > h1 {
                font-weight: bold;
                margin: 0 0 20px;
                text-align: center;
            }
            > form {
                display: flex;
                flex-direction: column;
                > button {
                    margin-bottom: 15px;
                }
            }
        }

        ng-view {
            .warn {
                color: red;
                margin: 10px 0 0;
            }
        }
    }
}
