nav {

    .navbar-brand {
        padding: 5px 15px 15px 15px;
    }
}

nav.navbar {
    margin: 0;
}

#carousel {
    background: url("http://lorempixel.com/1200/400/sports/2/") center;
    background-size: cover;
    height: 400px;
}

footer {
    background-color: #444444;
    width: 100%;
    height: 50px;
}


.product-details img {
    width: 30%;
}
