nav {
    .navbar-brand {
        padding: 5px 15px 15px 15px;
    }
}

nav.navbar {
    margin: 0;
}

#carousel {
    background: url("http://lorempixel.com/1200/400/sports/2/") center;
    background-size: cover;
    height: 400px;
}

.content {
    .row {

        > div {
            padding: 15px;

            img {
                width: 100%;
            }

            .additional-info {
                float: right;
                clear: both;

                .btn {
                    color: white;
                    background-color: #002266;
                }

                .btn:hover {
                    color: white;
                    background-color: #001133;
                }
            }
        }

    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    ng-view {
        flex: 1;
    }
}

.product-details {
    a {
        font-size: 45px;
        border: 1px solid #444444;
        background-color: #444444;
        border-radius: 10px;
        padding: 5px;
        color: white;
        text-decoration: none;
    }
    img {
        width: 100%;
    }
}

#product-order-form {
    * {
        margin: 10px;
    }
    #order-confirm {
        font-size: 20px;
    }
}

.footer-distributed {
    background-color: #060912;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    color: inherit;
}

.footer-distributed .footer-project-name {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-project-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-project-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

