nav {
    .navbar-brand {
        padding: 0px 15px;

        img {
            height: 40px;
        }
    }
}

nav.navbar {
    margin: 0;
}

#carousel {
    background: url("http://lorempixel.com/1200/400/sports/2/") center;
    background-size: cover;
    height: 400px;
}

.content {
    .row {

        > div {
            padding: 15px;

            img {
                width: 100%;
            }

            .additional-info {
                float: right;
                clear: both;

                .btn {
                    color: white;
                    background-color: #002266;
                }

                .btn:hover {
                    color: white;
                    background-color: #001133;
                }
            }
        }

    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    ng-view {
        flex: 1;
    }

    footer {
        background-color: #444444;
        width: 100%;
        height: 50px;
    }
}

.product-details {

    a {
        font-size: 45px;
        border: 1px solid #444444;
        background-color: #444444;
        border-radius: 10px;
        padding: 5px;
        color: white;
        text-decoration: none;
    }
    img {
        width: 100%;
    }
}

#product-order-form {
    * {
        margin: 10px;
    }
    #order-confirm {
        font-size: 20px;
    }
}
