@media only screen and (max-width: 768px) {
    .navbar {
        #navbar {
            background-color: #f8f8f8;
            border: 1px solid #e7e7e7;
            border-radius: 0 0 5px 5px;
            height: 0;
            margin-left: -16px;
            overflow: hidden;
            position: absolute;
            transition: .5s;
            width: 100%;
            z-index: 100;
            &.show-navbar {
                height: 100px;
            }
        }
        ul {
            margin: 0;
        }
    }

    .navbar-nav > li > a {
        right: -100%;
        transition: .5s;
    }

    .navbar-nav > li:last-child > a {
        transition-delay: .1s;
    }

    .navbar-nav > li .show-icons {
        right: 0;
    }
}
