<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webshop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/index.css" rel="stylesheet"/>
</head>
<body ng-app="webshopModule">
<nav class="navbar navbar-default">
    <div class="container" ng-controller="headerCtrl">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><img src="css/img/logo.png" alt="Company Logo"></a>
            <button ng-click="showNavbar=!showNavbar" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse in" ng-class="{'show-navbar': showNavbar}" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-hide="session.authenticated" ng-click="showNavbar=!showNavbar"
                       ng-class="{'show-icons': showNavbar}"
                       href="#/registration"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a ng-hide="session.authenticated" ng-click="showNavbar=!showNavbar"
                       ng-class="{'show-icons': showNavbar}" href="#/login"><span
                    class="glyphicon glyphicon-log-in"></span> Log In</a></li>
                <li><a ng-show="session.authenticated" ng-click="showNavbar=!showNavbar"
                       ng-class="{'show-icons': showNavbar}"
                       href="#/profile"><span class="glyphicon glyphicon-cog"></span> Profile</a></li>
                <li><a ng-show="session.authenticated" href="#/" ng-click="showNavbar=!showNavbar; logout();"
                       ng-class="{'show-icons': showNavbar}"> Log Out <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
            <ul ng-show="session.authenticated" class="nav navbar-nav navbar-right">
                <li><a href="#/"> Welcome {{user.name}} <span class="glyphicon glyphicon-user"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<ng-view></ng-view>
<footer class="footer-distributed">
    <div class="container">
        <div class="footer-left">
            <img src="footer-logo.png">
            <p class="footer-links">
                <a href="#/">Home</a> ·
                <a href="#/">Shipping</a> ·
                <a href="#/">About</a> ·
                <a href="#/">Contact</a> ·
                <a href="#/">Feedback</a>
            </p>
            <p class="footer-project-name">IT Webshop © 2017</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>Debrecen, Hungary</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+12 3456 789</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:itwebshop@schonherz.com">itwebshop@schonherz.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-project-about">
                <span>About our webshop</span>
                We offer maximum flexibility and the highest quality.
            </p>
            <div class="footer-icons">
                <a><i class="fa fa-facebook"></i></a>
                <a><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
<script src="config.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="src/webshopModule.js"></script>
<script src="src/api.js"></script>
<script src="src/productListController.js"></script>
<script src="src/productDetailsController.js"></script>
<script src="src/routing.js"></script>
<script src="src/loginController.js"></script>
<script src="src/registrationController.js"></script>
<script src="src/orderFormController.js"></script>
<script src="src/headerController.js"></script>
<script src="src/carouselController.js"></script>
<script src="src/loginService.js"></script>
<script src="src/registrationDirective.js"></script>
<script src="src/userProfileController.js"></script>
<script src="src/isoDateParserDirective.js"></script>
<script src="src/categoryTreeDirective.js"></script>
</body>
</html>
