<div>
    <div ng-click="node.open = !node.open; $emit('nodeSelected', node)" class="node"
         ng-class="{active: selected == node}">
          <span ng-if="node.categories.length">
            <span class="glyphicon glyphicon-plus" ng-if="!node.open"></span>
            <span class="glyphicon glyphicon-minus" ng-if="node.open"></span>
          </span>
        {{ node.name }}
    </div>
    <ul ng-if="node.open" ng-repeat="category in node.categories">
        <li>
            <tree node="category" selected="selected"></tree>
        </li>
    </ul>
</div>
