<div id="carousel"></div>
<div class="container content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="product in products">
            <img src="http://placehold.it/500x300">
            <h4>{{product.name}}</h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisl metus, gravida
                nec fermentum nec,
                porta ac libero. Sed scelerisque tempus ante ac lobortis.
            </p>
            <div class="additional-info">
                <span class="price-label">33.000$</span>
                <a href="#/product/{{product.id}}" class="btn btn-default">Details</a>
            </div>
        </div>
    </div>
</div>
