<div id="carousel" class="carousel slide" ng-controller="carouselCtrl">
    <ol class="carousel-indicators">
        <li ng-click="setActive('.first-pic')"></li>
        <li ng-click="setActive('.second-pic')"></li>
    </ol>
    <div class="carousel-inner">
        <div class="first-pic item active">
            <div class="carousel-caption">
                <h3>Etiam convallis justo</h3>
                <p>Cras a orci erat. Praesent nec ante nec velit semper ultrices. Suspendisse faucibus commodo tortor
                    eget gravida. Pellentesque eu sapien.</p>
                <div class="btn-success">More</div>
            </div>
        </div>
        <div class="second-pic item">
            <div class="carousel-caption">
                <h3>Etiam convallis justo</h3>
                <p>Cras a orci erat. Praesent nec ante nec velit semper ultrices. Suspendisse faucibus commodo tortor
                    eget gravida. Pellentesque eu sapien.</p>
                <div class="btn-success">More</div>
            </div>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <div id="sortBy" class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6 col-xs-12">
            <p>Sort by:</p>

            <div class="btn-group">
                <button class="btn btn-default" ng-class="{'btn-primary': activeSort=='name'}"
                        ng-click="sortBy('name'); showOnlyProducts('name')">Name <span class="sortorder glyphicon"
                                                                                       ng-show="propertyName === 'name'"
                                                                                       ng-class="{reverse: reverse}"></span>
                </button>

                <button class="btn btn-default" ng-class="{'btn-primary': activeSort=='price'}"
                        ng-click="sortBy('price'); showOnlyProducts('price')">Price <span class="sortorder glyphicon"
                                                                                          ng-show="propertyName === 'price'"
                                                                                          ng-class="{reverse: reverse}"></span>
                </button>

                <button class="btn btn-default" ng-class="{'btn-primary': activeSort=='category'}"
                        ng-click="sortBy('category.name'); showOnlyCategories('category')">Category <span
                    class="sortorder glyphicon"
                    ng-show="propertyName === 'category.name'"
                    ng-class="{reverse: reverse}"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container content" ng-show="showProducts">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12"
             ng-repeat-start="product in products | orderBy: propertyName : reverse">
            <img src="http://lorempixel.com/500/300/technics/">
            <h4>{{product.name}}</h4>
            <p class="description">{{product.description}}</p>
            <div class="additional-info">
                <span class="price-label">{{product.price}}</span>
                <a href="#/product/{{product.id}}" class="btn btn-default">Details</a>
            </div>
        </div>
        <div ng-if="$index % 4 == 3"
             class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
        <div ng-if="$index % 4 == 1"
             class="clearfix visible-sm-block" ng-repeat-end></div>
    </div>
</div>

<div class="container content" ng-show="showCategories">
    <div ng-repeat="category in categories | orderBy: propertyName:reverse">
        <h2 ng-click="open = !open">{{open ? '&#x2212;' : '&#x2b;'}} {{category.name}}</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="open"
                 ng-repeat-start="product in category.product | orderBy: 'name'">
                <img src="http://lorempixel.com/500/300/technics/">
                <h4>{{product.name}}</h4>
                <p class="description">{{product.description}}</p>
                <div class="additional-info">
                    <span class="price-label">{{product.price}}</span>
                    <a href="#/product/{{product.id}}" class="btn btn-default">Details</a>
                </div>
            </div>
            <div ng-if="$index % 4 == 3"
                 class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
            <div ng-if="$index % 4 == 1"
                 class="clearfix visible-sm-block" ng-repeat-end></div>
        </div>
    </div>
</div>
