<div class="carousel" ng-controller="carouselController">
    <div class="slide" ng-class="{'active': active == 0}">
        <div class="carousel-caption">
            <h3>{{products[0].name}}</h3>
            <p>{{products[0].description | limitTo: 40}}</p>
            <a href="#/product/{{products[0].id}}">
                <div class="btn-success">Details</div>
            </a>
        </div>
    </div>
    <div class="slide" ng-class="{'active': active == 1}">
        <div class="carousel-caption">
            <h3>{{products[1].name}}</h3>
            <p>{{products[1].description | limitTo: 40}}</p>
            <a href="#/product/{{products[1].id}}">
                <div class="btn-success">Details</div>
            </a>
        </div>
    </div>
    <div class="slide" ng-class="{'active': active == 2}">
        <div class="carousel-caption">
            <h3>{{products[2].name}}</h3>
            <p>{{products[2].description | limitTo: 40}}</p>
            <a href="#/product/{{products[2].id}}">
                <div class="btn-success">Details</div>
            </a>
        </div>
    </div>
    <div class="carousel-indicators">
        <ul>
            <li ng-class="{'active': active == 0}" ng-click="active = 0"></li>
            <li ng-class="{'active': active == 1}" ng-click="active = 1"></li>
            <li ng-class="{'active': active == 2}" ng-click="active = 2"></li>
        </ul>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div>
            <input id="searchInput" ng-model="searchText.name" class="col-md-4 col-sm-4 col-xs-12"
                   placeholder="&#x1F50E; Search for products...">
            <a class="col-md-2 col-sm-2 col-xs-12" href="#/cart" class="col-xs-12 col-sm-8 col-md-8"><span
                class="glyphicon glyphicon-shopping-cart"></span> Cart {{counter}}</a>
            <div id="sortBy" class="col-md-6 col-sm-6 col-xs-12">
                <p>Sort by:</p>

                <div class="btn-group">
                    <button class="btn btn-default" ng-class="{'btn-primary': activeSort=='name'}"
                            ng-click="sortBy('name'); showOnlyProducts('name')">Name <span class="sortorder glyphicon"
                                                                                           ng-show="propertyName === 'name'"
                                                                                           ng-class="{reverse: reverse}"></span>
                    </button>

                    <button class="btn btn-default" ng-class="{'btn-primary': activeSort=='price'}"
                            ng-click="sortBy('price'); showOnlyProducts('price')">Price <span
                        class="sortorder glyphicon"
                        ng-show="propertyName === 'price'"
                        ng-class="{reverse: reverse}"></span>
                    </button>

                    <button class="btn btn-default" ng-class="{'btn-primary': activeSort=='category'}"
                            ng-click="sortBy('category.name'); showOnlyCategories('category')">Category <span
                        class="sortorder glyphicon"
                        ng-show="propertyName === 'category.name'"
                        ng-class="{reverse: reverse}"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content" ng-show="showProducts">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12"
             ng-repeat-start="product in products | orderBy: propertyName : reverse | filter: searchText:name">
            <a href="#/product/{{product.id}}"><img ng-src="/css/img/kep{{(product.id - 1) % 10}}.jpg"></a>
            <h4>{{product.name}}</h4>
            <p class="description">{{product.description | limitTo: 150}}</p>
            <div class="additional-info">
                <span class="price-label">{{product.price | currency}}</span>
                <button class="btn btn-default"
                        ng-click="callToAddToProductList({id: product.id, name: product.name, price: product.price, quantity: 1});">
                    Add to cart
                </button>
                <a href="#/product/{{product.id}}" class="btn btn-default">Details</a>
            </div>
        </div>
        <div ng-if="$index % 4 == 3"
             class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
        <div ng-if="$index % 4 == 1"
             class="clearfix visible-sm-block" ng-repeat-end></div>
    </div>
</div>

<div class="container content" ng-show="showCategories">
    <div ng-repeat="category in categories | orderBy: propertyName:reverse | filter: searchText:name">
        <h2 ng-click="open = !open">{{open ? '&#x2212;' : '&#x2b;'}} {{category.name}}</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" ng-show="open"
                 ng-repeat-start="product in category.product | orderBy: 'name'">
                <a href="#/product/{{product.id}}"><img ng-src="/css/img/kep{{(product.id - 1)% 10 }}.jpg"></a>
                <h4>{{product.name}}</h4>
                <p class="description">{{product.description | limitTo: 150}}</p>
                <div class="additional-info">
                    <span class="price-label">{{product.price}}</span>
                    <a href="#/product/{{product.id}}" class="btn btn-default">Details</a>
                </div>
            </div>
            <div ng-if="$index % 4 == 3"
                 class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
            <div ng-if="$index % 4 == 1"
                 class="clearfix visible-sm-block" ng-repeat-end></div>
        </div>
    </div>
</div>
