<div class="container product-details">
    <div>
        <div class="row">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a>{{product.category.name}}</a></li>
                <li><a href="#/product/{{product.id}}">{{product.name}}</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img ng-src="/css/img/kep{{(product.id - 1) % 10}}.jpg">
            </div>
            <div class="col-sm-8 col-md-8">
                <h2 class="name">{{product.name}}</h2>
                <div>{{product.description}}</div>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="order">
                <a href="#/order/{{product.id}}">Order</a>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-4">
            <div class="price">{{product.price}}</div>
            <div class="panel panel-success">
                <div class="panel-heading"></div>
                <div class="panel-body">Product is available at our warehouse</div>
            </div>
        </div>
    </div>
</div>
