<div id="feedback" ng-show="feedbackVisible">
    <button type="button" ng-click="hideFeedback()">X</button>
    <p ng-show="successfulFeedback">Registration was succesful.</p>
    <p ng-show="unsuccessfulFeedback">Registration was not succesful.</p>
    <button type="button" ng-click="hideFeedback()">Close</button>
</div>

<form ng-submit="registration(name, email, password)">
    <label>Name:</label>
    <input placeholder="Enter Your Name" type="text" ng-model="name" required>
    <label>E-mail:</label>
    <input placeholder="Enter E-mail Address" type="text" ng-model="email" required>
    <label>Password:</label>
    <input placeholder="Enter Password" type="password" ng-model="password" required>
    <input type="submit" value="Register"/>
</form>
