<div class="feedback-background"
     ng-class="{'show-feedback-background': modalVisible && (successfulEdit || !successfulEdit) }"></div>

<div class="feedback-frame">
    <div class="feedback" ng-class="{'show-feedback': modalVisible}">
        <div><span ng-show="successfulEdit">Congratulations!</span><span ng-show="!successfulEdit">We are sorry!</span>
            <button class="btn btn-default" type="button" ng-click="closeModal()">&times;</button>
        </div>
        <div><p ng-show="successfulEdit">Saved changes.</p>
            <p ng-show="!successfulEdit">Something went wrong.</p></div>
        <div>
            <button class="btn btn-default" type="button" ng-click="closeModal()">Close</button>
        </div>
    </div>
</div>

<div id="user-profile">
    <div class="container">
        <div class="row">
            <div id="user" class="form-style col-md-5 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12">
                <h1>User information</h1>
                <form name="userProfile" novalidate>
                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': userProfile.name.$dirty && userProfile.name.$valid, 'has-error': userProfile.name.$dirty && userProfile.name.$error.required }">
                        <label>Name:</label>
                        <input class="form-control" type="text" ng-model="user.name" name="name"
                               placeholder="Enter your name" required>
                        <span ng-show="userProfile.name.$dirty && userProfile.name.$valid"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span
                            ng-show="userProfile.name.$dirty && userProfile.name.$error.required"
                            class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <p class="warn" ng-show="userProfile.name.$dirty && userProfile.name.$error.required">This field
                            is required.</p>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': userProfile.email.$dirty && userProfile.email.$valid, 'has-error': userProfile.email.$dirty && userProfile.email.$invalid }">
                        <label>Email:</label>
                        <input class="form-control" type="email" ng-model="user.email" name="email"
                               placeholder="Enter your email" required>
                        <span ng-show="userProfile.email.$dirty && userProfile.email.$valid"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span
                            ng-show="userProfile.email.$dirty && (userProfile.email.$invalid || userProfile.email.$error.required)"
                            class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div ng-show="userProfile.email.$dirty">
                            <p class="warn" ng-show="userProfile.email.$error.required">This field is required.</p>
                            <p class="warn" ng-show="userProfile.email.$error.email">This is not a valid email.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Gender:</label><br>
                        <label class="radio-inline">
                            <input type="radio" name="male" value="male" ng-model="user.gender">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="male" value="female" ng-model="user.gender">Female
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Date of birth</label>
                        <input iso-date-parser class="form-control" type="date" ng-model="user.dateOfBirth" name="date">
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': userProfile.phone.$dirty && userProfile.phone.$valid && user.phone, 'has-error': userProfile.phone.$dirty && userProfile.phone.$invalid }">
                        <label>Telephone:</label>
                        <input class="form-control" type="text" ng-model="user.phone" name="phone"
                               placeholder="Enter your phone number" ng-pattern="/^\+?\d+(-\d+)*$/">
                        <span ng-show="userProfile.phone.$dirty && userProfile.phone.$valid && user.phone"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span
                            ng-show="userProfile.phone.$dirty && userProfile.phone.$invalid"
                            class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <p class="warn" ng-show="userProfile.phone.$invalid">This is not a valid phone number.</p>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': userProfile.bankAccount.$dirty && userProfile.bankAccount.$valid && user.bankAccount, 'has-error': userProfile.bankAccount.$dirty && userProfile.bankAccount.$invalid }">
                        <label>Bank account number:</label>
                        <input class="form-control" type="text" ng-model="user.bankAccount" name="bankAccount"
                               placeholder="Enter your bank account number" ng-pattern="/^\w{1,17}$/">
                        <span
                            ng-show="userProfile.bankAccount.$dirty && userProfile.bankAccount.$valid && user.bankAccount"
                            class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span
                            ng-show="userProfile.bankAccount.$dirty && userProfile.bankAccount.$invalid"
                            class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <p class="warn" ng-show="userProfile.bankAccount.$invalid">This is not a valid bank account
                            number.</p>
                    </div>

                    <div class="form-group">
                        <label>Bio:</label>
                        <textarea class="form-control" rows="6" name="bio" ng-model="user.bio"
                                  placeholder="Tell a little about yourself"></textarea>
                    </div>
                </form>
            </div>

            <div id="order" class="form-style col-md-5 col-md-offset-0 col-sm-offset-2 col-sm-8 col-xs-12">
                <h1>Order information</h1>
                <form name="orderForm" id="product-order-form" novalidate>
                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': orderForm.country.$dirty && orderForm.country.$valid && user.adress.country, 'has-error': orderForm.country.$dirty && orderForm.country.$invalid }">
                        <label for="country">Country:</label>
                        <input id="country" name="country" type="text" ng-model="user.adress.country"
                               class="form-control"
                               placeholder="Country">
                        <span ng-show="orderForm.country.$dirty && orderForm.country.$valid && user.adress.country"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': orderForm.city.$dirty && orderForm.city.$valid && user.adress.city, 'has-error': orderForm.city.$dirty && orderForm.city.$invalid }">
                        <label for="city">City:</label>
                        <input id="city" name="city" type="text" ng-model="user.adress.city" class="form-control"
                               placeholder="City">
                        <span ng-show="orderForm.city.$dirty && orderForm.city.$valid && user.adress.city"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': orderForm.zip.$dirty && orderForm.zip.$valid && user.adress.zip, 'has-error': orderForm.zip.$dirty && orderForm.zip.$invalid }">
                        <label for="zip">ZIP:</label>
                        <input id="zip" name="zip" type="text" ng-model="user.adress.zip" class="form-control"
                               placeholder="Postal code" ng-pattern="/^\d+$/">
                        <span ng-show="orderForm.zip.$dirty && orderForm.zip.$valid && user.adress.zip"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span
                            ng-show="orderForm.zip.$dirty && orderForm.zip.$invalid"
                            class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <div ng-show="orderForm.$submitted || orderForm.zip.$dirty">
                            <p ng-show="orderForm.zip.$invalid" class="warn">This is not a valid
                                ZIP code.
                            </p>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-success': orderForm.street.$dirty && orderForm.street.$valid && user.adress.street, 'has-error': orderForm.street.$dirty && orderForm.street.$invalid }">
                        <label for="street">Adress:</label>
                        <input id="street" name="street" type="text" ng-model="user.adress.street" class="form-control"
                               placeholder="Street name, house number">
                        <span ng-show="orderForm.street.$dirty && orderForm.street.$valid && user.adress.street"
                              class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                </form>
            </div>

            <button type="submit" class="btn btn-primary col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12"
                    ng-click="showModal()">Save changes
            </button>
        </div>
    </div>
</div>
